
.body{
  background-color: #e3e3e1;
}
.home{
  background-color: #e3e3e1;
  height:100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  color : #000;
  text-align: center;
  background-color: #e3e3e1;
  align-items: center;
  padding:10px;
}

.loginWindow{
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout-button{
  position:absolute;
  right:2.5%;
  font-size : 16px;
  transition: text-decoration 0.3s ease;
  justify-content: center;
  line-height:50px;
}
.logout-button:hover{
  font-weight: bold;
  text-decoration: underline;
  cursor:pointer;
}
.centered-text-container{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:1px;
  margin:1px;
}
.centered-text{
  box-sizing: border-box;
  text-align:center;
  justify-content: center;
  width:50%
}
.centered-text-user{
  width:100%;
  text-align:center;
}

.google-map-container{
  position: relative;
  z-index:1;
}
.overlay-container{
  position:absolute;
  top:90%;
  left:42.5%;
  z-index:2;
}
.button-overlay{
  display:flex;
}
.rounded{
  border-radius: 125px;
  border: 1px solid #ccc;
  padding: 10px;
}
.search-container{
  position: relative;
  display:flex;
  flex-direction: row;
  padding: 1px;
}
.search-bar{
  width:100%;
  border:none;
  border-radius: 25px;
  flex-grow:2;
}
.search-bar:focus {
  outline: none;
}
.search-button{
  border: none;
  background:blue;
  color:white;
}

.map-component-container{
  height:100vh;
  width:100%;
}
.map-component{

}
.main{
  width:100vw;
  height:100vh;
  background-color: #e3e3e1;
}
.sidebar{
  width:20vw;
  height:100%;
  background-color: #bacfbf;
  color: black;
  position: absolute;
  display:flex;
  flex-direction: column;
  left:0;
  z-index:2;
}
.sidebar-close{
  font-weight: 500;
  padding:5px;
  margin:2.5px;
  margin-left:auto;
  transition: text-decoration 0.3s ease;
}
.sidebar-close:hover{
  text-decoration: underline;
  font-weight: bold;
  cursor:pointer;
}
.newUserButton{
  position: relative;
}
.jumbotron{
  color: black;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: tomato;
}

.signUpButton{
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
